# Model files (large, not needed in repo)
*.zip
*.zip:Zone.Identifier
**/*.zip
**/*.zip:Zone.Identifier
part2/models/
**/videos/*.png
part1/results/
.DS_Store


# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/

# IDE
.vscode/
.idea/

# Outputs
*.log
part2/results/
part2/outputs/
part2/udr_steps/
part2/adr_steps/
part2/figures/

part2/panda_gym/
